img{
    width: 25%;
    height: 25%;
    margin: 2em;

}

p{
    text-align: justify;
    display: flex;
}

.alinharAoCentro{
    display: flex;
    justify-content: center;
    padding-left: 80px;
}

#video{
    border-radius: 10px;
    height: 315px;
    width: 560px;
}