p{
    text-align: justify;
    display: flex;
}

img{
    margin: 15px;
}

.alinharAoCentro{
    display: flex;
    justify-content: center;
    padding-left: 80px;
}

#video{
    border-radius: 10px;
    height: 315px;
    width: 560px;
}
